# BBL536E DATA SCIENCE 
## HOMEWORK #1
---
##### Vefak Murat Akman

### Problem 1:
---
#### Task 1:

Build predictive model using Ridge Regresssion. 

Find optimal alpha parameter: 0.001, 0.01, 0.1, 1.0, 10.0

Calculate Mean Absolute Error and Mean Squared Errors by using 10-fold 10 repetition 

Calculate mean score and the standart deviation

### Import Libraries

In [121]:
import pandas as pd
from sklearn.linear_model import Ridge
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
import sklearn.cross_validation as cv
import numpy as np
import matplotlib as plt

### Preparing & Exploring Data
---
This data about energy analysis using 12 different building shapes. X1-to-X8 features about building. y1 and y2 are outcomes. All features are numeric.
> **Specifically**: 
    - X1 Relative Compactness
    - X2 Surface Area 
    - X3 Wall Area 
    - X4 Roof Area 
    - X5 Overall Height 
    - X6 Orientation 
    - X7 Glazing Area 
    - X8 Glazing Area Distribution 
    - y1 Heating Load 
    - y2 Cooling Load

In [122]:
data = pd.read_excel("ENB2012_data.xlsx")
print("Length of data= ",len(data))
data.head()

Length of data=  768

     X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28

In [123]:
data.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,Y1,Y2
count,768.000000,768.000000,768.000000,768.000000,768.00000,768.000000,768.000000,768.00000,768.000000,768.000000
mean,0.764167,671.708333,318.500000,176.604167,5.25000,3.500000,0.234375,2.81250,22.307195,24.587760
std,0.105777,88.086116,43.626481,45.165950,1.75114,1.118763,0.133221,1.55096,10.090204,9.513306
min,0.620000,514.500000,245.000000,110.250000,3.50000,2.000000,0.000000,0.00000,6.010000,10.900000
25%,0.682500,606.375000,294.000000,140.875000,3.50000,2.750000,0.100000,1.75000,12.992500,15.620000
50%,0.750000,673.750000,318.500000,183.750000,5.25000,3.500000,0.250000,3.00000,18.950000,22.080000
75%,0.830000,741.125000,343.000000,220.500000,7.00000,4.250000,0.400000,4.00000,31.667500,33.132500
max,0.980000,808.500000,416.500000,220.500000,7.00000,5.000000,0.400000,5.00000,43.100000,48.030000

In [128]:
# Split Data
X = data.iloc[:, 0:8].values
y1 = data.iloc[:, 8].values
y2 = data.iloc[:, 9].values

X_train, X_test, y1_train, y1_test = cv.train_test_split(X,y1,test_size=0.25,random_state=0)
X_train, X_test, y1_train, y1_test = cv.train_test_split(X,y1,test_size=0.25,random_state=0)

### Ridge Regression

In [125]:
def findOptimalRidgeAlpha(x_data,y_data,parameters,scoring,cv):
    ridge_model = Ridge()
    ridgeRegressor = GridSearchCV(ridge_model,parameters,scoring=scoring,cv=cv)
    ridgeRegressor.fit(x_data,y_data)
    return ridgeRegressor.best_params_, ridgeRegressor.best_score_

### X and Y1 output 
**Find optimal Alpha**

In [126]:
#Optimal parameter for mean_sqauared_error
parameters = {'alpha': [0.001, 0.01, 0.1, 1.0, 10.0]}
best_alpha,best_scr = findOptimalRidgeAlpha(X,y1,parameters,"neg_mean_squared_error",10)
print("Mean Squared Error: ")
print("Optimal Alpha= {}, Best Score= {}\n".format(best_alpha,best_scr))

#Optimal parameter for mean_abosule_error
parameters = {'alpha': [0.001, 0.01, 0.1, 1.0, 10.0]}
best_alpha,best_scr = findOptimalRidgeAlpha(X,y1,parameters,"neg_mean_absolute_error",10)
print("Mean Absolute Error:")
print("Optimal Alpha= {}, Best Score= {}".format(best_alpha,best_scr))

Mean Squared Error:
Optimal Alpha= {'alpha': 0.001}, Best Score= -9.892072676520883

Mean Absolute Error:
Optimal Alpha= {'alpha': 0.01}, Best Score= -2.2489762831999696

**Calculate**

In [99]:
from sklearn.model_selection import RepeatedKFold
rkf=RepeatedKFold(n_splits=10,n_repeats=10,random_state=True)
counter=1
from sklearn.model_selection import cross_val_score
model_ridge = Ridge(alpha=0.001)
scores = cross_val_score(model_ridge,X,y1,cv=rkf)

0.01831655934353143

In [92]:
scores.mean()

0.8842729042602258