# BBL536E DATA SCIENCE 
## HOMEWORK #1
---
Vefak Murat Akman

## Problem 1:
---
## Task 1:

Build predictive model using Ridge Regresssion.\
Find optimal alpha parameter: 0.001, 0.01, 0.1, 1.0, 10.0\
Calculate Mean Absolute Error and Mean Squared Errors by using 10-fold 10 repetition \
Calculate mean score and the standart deviation

### Import Libraries

In [2]:
#Import Libraries
import pandas as pd
from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_val_score,RepeatedKFold,GridSearchCV
import numpy as np
import matplotlib as plt
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

### Preparing & Exploring Data
---
This data about energy analysis using 12 different building shapes.\
X1-to-X8 features about building. y1 and y2 are outcomes. All features are numeric.
> **Specifically**: 
    - X1 Relative Compactness
    - X2 Surface Area 
    - X3 Wall Area 
    - X4 Roof Area 
    - X5 Overall Height 
    - X6 Orientation 
    - X7 Glazing Area 
    - X8 Glazing Area Distribution 
    - Y1 Heating Load 
    - Y2 Cooling Load

In [3]:
data = pd.read_excel("ENB2012_data.xlsx")
print("Length of data= ",len(data))
data.head()

Length of data=  768

     X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28

In [4]:
data.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,Y1,Y2
count,768.000000,768.000000,768.000000,768.000000,768.00000,768.000000,768.000000,768.00000,768.000000,768.000000
mean,0.764167,671.708333,318.500000,176.604167,5.25000,3.500000,0.234375,2.81250,22.307195,24.587760
std,0.105777,88.086116,43.626481,45.165950,1.75114,1.118763,0.133221,1.55096,10.090204,9.513306
min,0.620000,514.500000,245.000000,110.250000,3.50000,2.000000,0.000000,0.00000,6.010000,10.900000
25%,0.682500,606.375000,294.000000,140.875000,3.50000,2.750000,0.100000,1.75000,12.992500,15.620000
50%,0.750000,673.750000,318.500000,183.750000,5.25000,3.500000,0.250000,3.00000,18.950000,22.080000
75%,0.830000,741.125000,343.000000,220.500000,7.00000,4.250000,0.400000,4.00000,31.667500,33.132500
max,0.980000,808.500000,416.500000,220.500000,7.00000,5.000000,0.400000,5.00000,43.100000,48.030000

In [8]:
# Split Data
X = data.iloc[:, 0:8].values
y1 = data.iloc[:, 8].values
y2 = data.iloc[:, 9].values

### Ridge Regression

### Find optimal Alpha and Best Error Score

GridSearchCV is used for Task 1. This function can perform finding best alpha value using iteration \
`best_params_`: Returns optimal alpha\
`best_score_` : Returns optimal alpha's mean error(MAE or MSE for each cross validations\
`cv_results_` : Returns results of gridSearchCV
`cv_results_[std_test_score]`: Returns std of each alpha parameter. The first one is 


---

In [35]:
def findOptimalRidgeAlpha(x_data,y_data,parameters,scoring,cv):
    """
    Arguments:
        x_data = Features
        y_data = Results (Labels)
        parameters = alpha values
        scoring = Scoring method 
        cv = Cross validation method
    Return:
        best_params_
        best_score_
        cv_results_
    """
    ridge_model = Ridge()
    ridgeRegressor = GridSearchCV(ridge_model,parameters,scoring=scoring,cv=cv)
    ridgeRegressor.fit(x_data,y_data)
    return ridgeRegressor.best_params_, ridgeRegressor.best_score_ , ridgeRegressor.cv_results_

#Create reapeted Kfold object with 10 repeats & 10 splits & random_state
rkf = RepeatedKFold(n_splits=10, n_repeats=10, random_state =True)
#Parameters
parameters = {'alpha': [0.001, 0.01, 0.1, 1.0, 10.0]}

### Y1 Results:
---

In [32]:
#Optimal parameter for mean_sqauared_error
best_alpha_mse,best_scr_mse,results_mse = findOptimalRidgeAlpha(X,y1,parameters,"neg_mean_squared_error",rkf)
print("Mean Squared Error: ")
print("   Optimal Alpha= {}".format(best_alpha_mse))
print("   Mean of Mean Absolute Error= {}".format(best_scr_mse))
print("   Std of Mean Absolute Error= {}\n".format(results_mse["std_test_score"][0]))
print("**************************************************\n")
#Optimal parameter for mean_abosule_error
best_alpha_mae,best_scr_mae,results_mae = findOptimalRidgeAlpha(X,y1,parameters,"neg_mean_absolute_error",rkf)
print("Mean Absolute Error:")
print("   Optimal Alpha= {}".format(best_alpha_mae))
print("   Mean of Mean Absolute Error= {}".format(best_scr_mae))
print("   Std of Mean Absolute Error= {}".format(results_mae["std_test_score"][0]))

Mean Squared Error:
   Optimal Alpha= {'alpha': 0.001}
   Mean of Mean Absolute Error= -8.710823249413723
   Std of Mean Absolute Error= 1.7413434482072387

**************************************************

Mean Absolute Error:
   Optimal Alpha= {'alpha': 0.001}
   Mean of Mean Absolute Error= -2.0910518036913515
   Std of Mean Absolute Error= 0.23614822382853362

### Y2 Results: 
---

In [36]:
#Optimal parameter for mean_sqauared_error
best_alpha_mse,best_scr_mse,results_mse = findOptimalRidgeAlpha(X,y2,parameters,"neg_mean_squared_error",rkf)
print("Mean Squared Error: ")
print("   Optimal Alpha= {}".format(best_alpha_mse))
print("   Mean of Mean Absolute Error= {}".format(best_scr_mse))
print("   Std of Mean Absolute Error= {}\n".format(results_mse["std_test_score"][0]))
print("**************************************************\n")
#Optimal parameter for mean_abosule_error
best_alpha_mae,best_scr_mae,results_mae = findOptimalRidgeAlpha(X,y2,parameters,"neg_mean_absolute_error",rkf)
print("Mean Absolute Error:")
print("   Optimal Alpha= {}".format(best_alpha_mae))
print("   Mean of Mean Absolute Error= {}".format(best_scr_mae))
print("   Std of Mean Absolute Error= {}".format(results_mae["std_test_score"][0]))

Mean Squared Error:
   Optimal Alpha= {'alpha': 0.001}
   Mean of Mean Absolute Error= -10.353927888203641
   Std of Mean Absolute Error= 2.53101017995386

**************************************************

Mean Absolute Error:
   Optimal Alpha= {'alpha': 0.01}
   Mean of Mean Absolute Error= -2.266249368365367
   Std of Mean Absolute Error= 0.2695020960123341

#### Double check for results. 
In the below I tested the alpha=0.001 with same cv and scoring.\
The results are same. I would say that the proposed method is correct
You can change the parameters to test other values

In [40]:
model = Ridge(alpha=0.01)
scoring = 'neg_mean_absolute_error'
#scoring = 'neg_mean_squared_error'
#results = cross_val_score(model, X, y1, cv=rkf, scoring=scoring)
results = cross_val_score(model, X, y2, cv=rkf, scoring=scoring)
print(results.mean(axis=0))
print(results.std(axis=0))

-2.266249368365367
0.2698513327435206

In [ ]:
### RandomForest